<main>

  <p id="notice"><%= flash[:notice] %></p>

  <div class="container px-5 px-sm-0 mt-3">

    <div class="row">
      <div class="col-md-3">
        <%= render '/users/user', user: @user %>  <!-- /users/_user.html.erbを呼び込む -->
      </div>

      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@book.user.id) do %>
                  <%= image_tag @book.user.get_profile_image(100, 100) %><br>
                <% end %>
                <%= link_to @book.user.name, user_path(@book.user.id) %>
              </td>
              <td>
                 <%= link_to @book.title, book_path(@book.id) %>
              </td>
              <td>
                <%= @book.body %>
              </td>
              <% if current_user.id == @book.user.id %>
                <td>
                  <a class="btn btn-sm btn-success" href="<%= edit_book_path(@book.id) %>">Edit</a>
                </td>
                <td>
                  <a class="btn btn-sm btn-danger" href="<%= book_path(@book.id) %>" data-method="delete" data-confirm="本当に削除しますか？">Destroy</a>
                </td>
              <% end %>
            </tr>
          </tbody>
       </table>
      </div>
    </div>
  </div>
</main>
